#fragpraclist\:\:collegeList--fe\:\:table\:\:college\:\:LineItem\:\:C\:\:collegeId-innerColumn-ah {
    background-color: red;
}

#__column0-ah {
    background-color: rgb(19, 209, 98);
    
    border: 5px solid blue;
}

#__text11{
    color: white;
}

#__table0-tblHeader{
    background-color: pink;
    border: 5px solid rgb(224, 117, 59);
}